/public/
/resources/_gen/
/assets/jsconfig.json
/hugo.log
/hugo_stats.json
/.hugo_build.lock
/hugo.exe
/hugo.darwin
/hugo.linux

# Why the hell does this exist? It's just a bloodstain on a perfectly white shirt!
.DS_Store

Caddyfile

# Node.js dependencies
/node_modules/
/package-lock.json
/yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/dist/
/build/

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.temp