node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ephemeral files
*.log
*.tmp
*.swp
*.swo
*.bak
*.old

# temporary files that i plan to delete later but defined here for posterity
static/lexicons/bluesky lexicons.json
# Other sources that I will delete later
# They are used as references, so i will not commit them as my own files
other/*
git-diff.txt