/public/
/resources/_gen/
/assets/jsconfig.json
/hugo.log
/hugo_stats.json
/.hugo_build.lock
/hugo.exe
/hugo.darwin
/hugo.linux

# Why the hell does this exist? It's just a bloodstain on a perfectly white shirt!
.DS_Store