/* Reduce opacity for the .credit text and decrease font size */
.credit {
    opacity: 0.7;
    font-size: var(--font-size-small);
    text-align: center;
  }
  
  p {
    margin-left: 5vh;
    margin-right: 5vh;
    line-height: var(--line-height-paragraph);
  }
  
  #emoji {
    text-align: center;
    font-size: var(--font-size-emoji);
  }
  