---
title: 'Verification'
url: '/verification'
summary: 'Verify my online presence.'
searchHidden: false
ShowReadingTime: false
ShowWordCount: false
---

This page serves as the system of record for my online identity. I control the following personal accounts, however, this list is ***not*** exhaustive.

## Accounts

### Social Media

- Bluesky: [@ewancroft.uk](https://bsky.app/profile/did:plc:ofrbh253gwicbkc5nktqepol)

- Bluesky alt: [@alt.ewancroft.uk](https://bsky.app/profile/alt.ewancroft.uk)

- Mastodon: [@ewanc26@mastodon.social](https://mastodon.social/@ewanc26)

- Tumblr: [@greenwerewolf745](https://tumblr.com/greenwerewolf745)

### Bluesky Accounts

As Bluesky (and by extension, [ATProto](https://atproto.com)) use apex (main) domains and subdomains as the username (or "handle") and require access to the domain to register. As such, please disregard any account that does not have `*.ewancroft.uk` in the username.

As stated above, [@ewancroft.uk](https://bsky.app/profile/did:plc:ofrbh253gwicbkc5nktqepol) is my Bluesky account with [@ewancroft.uk@bsky.brid.gy](https://fed.brid.gy/bsky/ewancroft.uk) being the same account bridged over to the Fediverse with [BridgyFed.](https://fed.brid.gy)

#### Bot Accounts

I will *always* put my Bluesky bot accounts on a `*.bot.ewancroft.uk` subdomain with the source code on GitHub.

### Development

- GitHub: [ewanc26](https://github.com/ewanc26)

- Bluesky developmental account: [@dev.ewancroft.uk](https://bsky.app/profile/dev.ewancroft.uk)

## Domains

I *only* own and control [this website](/), and as such, any subdomains under the apex (main) domain should be regarded as controlled by me.

## Miscellaneous

### Active Accounts

I will *never* try to give you crypto trading tips. If an account claims to be me and is doing that, I have either:

1. Been hacked, report the account and ignore it.

2. Been [impersonated.](https://www.dlnews.com/articles/defi/twitters-impersonation-problem-is-about-more-than-just-crypto-scams/)

3. Lost my integrity.

### Inactive Accounts

The accounts that are inactive (particularly on the Fediverse) and look to be mine should be regarded with suspicion regardless. This should go without saying, really.
