body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  font-family: "madecarvingsoft", "Trebuchet MS", sans-serif;
  overflow: hidden;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--text-color);
}

code {
  background: var(--header-footer-bg);
  white-space: pre-wrap;
}

pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
}

blockquote {
  padding-left: 16px;
  margin: 0;
  border-left: 4px solid var(--header-footer-bg);
}

table {
  display: block;
  word-break: normal;
  border-collapse: collapse;
  overflow-x: auto;
}

th,
td {
  padding: 8px;
  border: 1px solid var(--header-footer-bg);
}