#hex-ticker {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--header-footer-bg);
    color: var(--link-color);
    padding: 10px 0;
    margin-top: 16px;
    font-family: monospace;
}

#hex-ticker-content {
    display: inline-block;
    animation: hexTickerScroll 20s linear infinite;
}

#hex-ticker-content:hover {
    animation-play-state: paused;
}

@keyframes hexTickerScroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}