#page {
  height: 100vh;
  display: flex;
}

#column-left {
  flex: 1;
  background: var(--header-footer-bg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

#profile-area {
  max-height: 100%;
  padding: 32px;
  text-align: center;
  overflow-y: auto;
}

#column-right {
  flex: 2;
  padding: 0;
}

main {
  max-height: 100%;
  overflow-y: auto;
}