#page {
  height: 100vh;
  display: flex;
}

#column-left {
  flex: 1;
  background: var(--header-footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#profile-area {
  max-height: 100%;
  padding: 32px;
  text-align: center;
  overflow-y: auto;
  margin-left: 2vw;
  margin-right: 2vw;
}

#column-right {
  flex: 2;
  padding: 0;
}

main {
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--link-color) var(--header-footer-bg);
}

main::-webkit-scrollbar {
    width: 14px; /* Slightly wider for better grip */
    margin: 2px;
}

main::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: var(--link-hover-color);
}