/* Mobile Styling */
@media screen and (max-width: 800px) {
  body {
      overflow: auto;
  }

  #page {
      display: block; /* Stacks the columns vertically */
  }

  #column-left {
      justify-content: center;
      padding: 24px 16px; /* Padding for mobile */
  }

  #column-right {
      padding: 24px 16px; /* Padding for mobile */
  }

  .footer {
      flex-direction: row;
      align-items: center;
      gap: 16px;
  }

  .author {
      gap: 8px;
  }

  .created-at,
  .remote-link {
      font-size: 12px;
  }

  .links {
      flex-direction: column;
      gap: 8px;
  }

  .links a {
      flex: 1;
      height: 40px;
      border-radius: 20px;
      margin: 4px 0;
  }

  .author-pfp img {
      width: 30px;
      height: 30px;
  }

  .post {
      margin: 12px 8px;
      padding: 16px;
  }

  .embed-container,
  .embed-card {
      margin: 12px 0;
      padding: 12px;
  }

  /* Navigation links */
  nav a {
    margin-top: 30px;
    padding: 5px;
  }
}